@font-face {
    font-family: "scaryFont";
    src: url("assets/scaryFont.ttf");
}

body {
    background: black;
    margin: 0;
    padding: 0;
    font-family: 'scaryFont';
    font-size:1.5em;
    letter-spacing:2px;
}

#gameTitleContainer{
    margin-top:20%;
    text-align:center;
}

#gameTitle {
    color:white;
    font-size:3em;

}

#menu {
    margin-top: 5%;
    text-align: center;
}

#start {
    color:white;
    font-size:1.5em;
}