body {
    background: black;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

#instructions {
    background-color: rgba(0,0,0,0.75);
    color: white;
    text-align: center;
    padding: 32px;
    margin: 0px;
    display: inline;
    border: 2px solid white;
}

#help {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 4px;
    color: white;
}

#level {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 4px;
    color: yellow;
    font-weight: bold;
}

#lvlmenu {
    position: absolute;
    left: 0px;
    top: 22px;
    padding: 4px;
    color: white;

}